@import '../../assets/styles/variables';

.header-wrapper {
  border-bottom: 2px solid $gray;
  margin-bottom: 50px;
  padding: 0 50px;

  @media (min-width: $sm-min) and (max-width: $sm-max) {
    padding: 0 20px;
  }

  @media (max-width: $xs-max) {
    padding: 0 10px;
  }

  .header {
    display: flex;
    height: 75px;
    align-items: center;

    .logo {
      color: $light-text;
      cursor: pointer;
      font-size: 24px;
      font-weight: 200;

      @media (min-width: $xs-min) and (max-width: $xs-max) {
        display: none;
      }

      &:focus {
        outline: none;
      }
    }

    .header-menu-container {
      margin-left: auto;

      @media (min-width: $xs-min) and (max-width: $xs-max) {
        margin: auto;
      }

      nav {
        a {
          color: $dark-text;
          font-size: 14px;
          font-weight: 600;
          padding: 20px;

          &.active {
            color: $light-blue;
          }
        }
      }
    }
  }
}
