<div class="header-wrapper">
  <div class="header">
    <div class="logo" routerLink="/home">
      LOGO
    </div>
    <div class="header-menu-container">
      <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <divante-search></divante-search>
      </nav>
    </div>
  </div>
</div>
