<div class="products">
  <div *ngFor="let product of filteredProducts">
    <divante-product-tile
      id={{product.id}}
      title={{product.title}}
      description={{product.description}}
      image={{product.image}}
    ></divante-product-tile>
  </div>
  <div *ngIf="filteredProducts && filteredProducts.length === 0" class="empty">
    No products available!
  </div>
</div>
<app-loader *ngIf="!products"></app-loader>
