@import '../../../assets/styles/variables';

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  .empty {
    padding-left: 20px;
  }

  @media (min-width: $lg-min ) {
    justify-content: start;
  }

  @media (max-width: $xs-max) {
    flex-flow: column;
  }
}
