@import "../../assets/styles/variables";

.product-details-page {
  display: flex;
  padding: 0 50px;

  @media (min-width: $sm-min) and (max-width: $sm-max) {
    padding: 0 20px;
  }

  @media (max-width: $xs-max) {
    flex-flow: column;
    padding: 0 10px;
  }
}
