@import '../../assets/styles/variables';

.cart-wrapper {
  background-color: $light-blue;
  color: $white;
  cursor: default;
  height: auto;
  padding: 20px;
  width: 200px;

  @media (min-width: $sm-min) and (max-width: $sm-max) {
    margin-right: 20px;
    width: 150px;
  }

  @media (max-width: $xs-max) {
    margin: 0 auto 20px;
    width: auto;
  }

  .title-section {
    display: flex;
    align-items: center;

    i {
      content: ' ';
      background-repeat: no-repeat;
      background-size: 25px 25px;
      height: 25px;
      width: 25px;

      &.cart {
        background-image: url('../../assets/icons/cart.svg');
      }

      &.contact {
        background-image: url('../../assets/icons/contact.svg');
      }
    }

    .title {
      font-weight: 400;
      padding-left: 10px;
    }
  }

  .info {
    font-family: $second-font;
    font-size: 12px;
    font-weight: 100;
    line-height: 14px;
    margin-bottom: 20px;
  }

  .cart-content {
    border: 1px $white dashed;
    cursor: default;
    font-size: 12px;
    margin-top: 20px;

    .empty {
      padding: 50px 20px;
      text-align: center;
    }

    .full {
      padding: 10px;

      .cart-item {
        background-color: $dark-blue;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        padding: 5px;

        .price {
          color: $accent;
          font-weight: 600;
          margin-right: 10px;
        }

        .title {
          max-width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .delete {
          color: red;
          cursor: pointer;
        }
      }
    }
  }

  .contact-section {
    @media (max-width: $xs-max) {
      display: none;
    }
  }
}
