<div class="cart-wrapper">

  <div class="contact-section">
    <div class="title-section">
      <i class="contact"></i>
      <span class="title">Contact</span>
    </div>
    <p class="info">
      Lorem ipsum dolor sit amet, pri quaestio omittantur at. Idque labore eum ne, eam dicant doctus mnesarchum ad, ea duo ceteros recteque.
    </p>
  </div>

  <div class="cart-section">
    <div class="title-section">
      <i class="cart"></i>
      <span class="title">Cart ( {{ items.length }} )</span>
    </div>
    <div class="cart-content">
      <div class="full" *ngIf="items.length > 0">
        <ng-container *ngFor="let item of items">
          <div class="cart-item">
            <span class="price">{{ item.price }}$</span>
            <span class="title">{{ item.title }}</span>
            <span class="delete" (click)="removeItem(item.id)">X</span>
          </div>
        </ng-container>
      </div>
      <div class="empty" *ngIf="items.length === 0">
        Cart is empty
      </div>
    </div>
  </div>

</div>
