<div class="product" *ngIf="product">
  <img src={{product.image}}>
  <div class="price-label">{{ product.price }} $</div>
  <div class="info">
    <div class="text-wrapper">
      <p class="title">{{ product.title }}</p>
      <p class="description">{{ product.description }}</p>
    </div>
    <div class="button-wrapper">
      <button (click)="addToCart()" [disabled]="isAdded">
        {{ isAdded ? 'Added' : 'Add to cart' }}
      </button>
    </div>
  </div>
</div>
<app-loader *ngIf="!product"></app-loader>
