@import "../../../assets/styles/variables";

.product {
  height: 800px;
  margin: 0 50px;
  max-width: 800px;

  @media (max-width: $md-min) {
    margin: 0;
  }

  img {
    width: 100%;
  }

  .price-label {
    background-color: $accent;
    border-radius: 20px;
    color: $white;
    font-size: 20px;
    height: 20px;
    margin-left: 25px;
    margin-top: -45px;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100px;
  }

  .info {
    background-color: $dark-blue;
    color: $white;
    display: flex;
    margin: -20px 0;
    padding: 40px;

    @media (max-width: $xs-max) {
      flex-flow: column;
    }

    .title {
      font-size: 16px;
      font-weight: 400;
    }

    .description {
      font-family: $second-font;
      font-size: 12px;
      padding-right: 25px;

      @media (max-width: $xs-max) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .button-wrapper {
      margin: auto 0 auto auto;

      @media (max-width: $xs-max) {
        margin: auto;
      }
    }

    button {
      background-color: $accent;
      border: none;
      color: $white;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      margin-left: 20px;
      padding: 10px 30px;
      width: 200px;

      &:focus {
        outline: none;
      }

      &:disabled {
        opacity: 0.3;
      }
    }
  }
}
