<div class="tile" routerLink="/products/{{id}}">
  <img src={{image}}/>
  <div class="info-section">
    <p class="title">{{ title }}</p>
    <p class="description">{{ description }}</p>
  </div>
</div>
