@import '../../../../assets/styles/variables';

.tile {
  background-color: white;
  cursor: pointer;
  max-width: 250px;
  margin: 0 0 10px 25px;

  @media (min-width: $xs-min) and (max-width: $sm-max) {
    margin: 0;
    max-width: 100%;
  }

  .info-section {
    padding: 10px;
    height: 150px;

    .title {
      color: $dark-text;
      font-weight: 600;
      width: 100px;
    }

    .description {
      color: $light-text;
      font-size: 14px;
    }
  }

  img {
    height: 200px;
    max-width: 100%;

    @media (min-width: $xs-min) and (max-width: $sm-max) {
      height: auto;
      margin: auto;
    }
  }
}
