.loader-wrapper {
  display: flex;
  height: 100%;
  max-width: 100%;
  width: 800px;

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  .loader {
    animation: spinner 2s linear infinite;
    height: 100px;
    margin-left: 45%;
    margin-top: 20%;
    width: 100px;
  }
}

