@import "../../assets/styles/variables";

@keyframes fadeIn {
  0% { width: 0px; opacity: 0; }
  20% { width: 10px; opacity: 0; }
  40% { width: 20px; opacity: 0.3; }
  60% { width: 40px; opacity: 0.5; }
  80% { width: 60px; opacity: 0.9; }
  100% { width: 80px; opacity: 1; }
}

.search-wrapper {
  display: inline-block;

  .search {
    i {
      background-image: url('../../assets/icons/search.svg');
      background-repeat: no-repeat;
      background-size: 15px 15px;
      content: ' ';
      cursor: pointer;
      display: inline-block;
      margin-bottom: -2px;
      height: 15px;
      width: 15px;
    }
  }

  input {
    animation-name: fadeIn;
    animation-duration: 0.1s;
    border: $light-blue 2px solid;
    margin-left: 10px;
    padding: 5px;

    &:focus {
      outline: none;
    }
  }


  @media (max-width: $xs-max) {
    display: block;
    margin: 10px auto auto auto;
    text-align: center;
  }
}

