@import '../../../assets/styles/variables';

.info-template {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  @media (min-width: $xs-min) and (max-width: $xs-max) {
    margin-top: 0;
  }

  .info-wrapper {
    align-items: center;
    background-color: $white;
    flex-flow: column;
    display: flex;
    min-height: 400px;
    padding: 50px;
    text-align: center;
    width: 800px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 200;
    font-family: $second-font;

    @media (min-width: $xs-min) and (max-width: $xs-max) {
      margin-top: -40px;
      padding: 10px 50px;
      width: auto;
    }
  }

  .icon-wrapper {
    border: 3px solid #164FAC;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 15px;

    @media (min-width: $xs-min) and (max-width: $xs-max) {
      display: none;
    }

    i {
      background-image: url('../../../assets/icons/contact-blue.svg');
      background-repeat: no-repeat;
      background-size: 40px 40px;
      content: ' ';
      display: inline-block;
      height: 40px;
      width: 40px;
    }
  }

  .title {
    color: $dark-text;
    font-weight: 400;
    font-size: 24px;
    padding: 40px 0 20px;
    text-transform: uppercase;
  }

  .details {
    color: $light-text;
    padding: 0 100px;
    text-align: justify;

    @media (min-width: $xs-min) and (max-width: $xs-max) {
      padding: 0;
    }
  }

  .formatted-line {
    font-family: Lato;
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
