<div class="info-template">
  <div class="info-wrapper">
    <div class="icon-wrapper">
      <i></i>
    </div>
    <div class="title">{{ title }}</div>
    <div class="details">
      <ng-container *ngIf="plainText">
        {{ plainText }}
      </ng-container>

      <ng-container *ngIf="formattedText">
        <p *ngFor="let textLine of formattedTextInfo" class="formatted-line">
          {{ textLine }}
        </p>
      </ng-container>
    </div>
  </div>
</div>
